<template>
  <section class="hero is-fullheight">
    <video :src="require(`@/assets/videos/sound-2.mp4`)" autoplay controls @ended="gotoExaminePoem"></video>

      <div class="buttons">
        <button class="button button-yellow goto-examine-poem" @click="gotoExaminePoem">Examine
          Poem
        </button>
      </div>
  </section>
</template>

<script>
  export default {
    name: 'AnimatedPoem',
    data () {
      return {
        showExamineButton: false
      }
    },
    methods: {
      gotoExaminePoem () {
        this.$router.push('/examine-poem')
      }
    }
  }
</script>

<style lang="scss" scoped>
  video {
    background-color: #000;
    height: 100vh;
  }

  .buttons {
    position: fixed;
    bottom: 5%;
    right: 5%;

    .button-yellow {
      font-size: 1.5em;
    }
  }
</style>
