<template>
    <section>
        <div id="examine-poem"
             :style="{ backgroundImage: `url(${require(`@/assets/images/part-two/${slides[slideIndex].background}`)})` }">

            <div class="ear" v-if="slides[slideIndex].ear">
                <img :src="require(`@/assets/images/part-two/${slides[slideIndex].ear}`)"
                     alt="">
            </div>

            <div class="eyes-one" v-if="slides[slideIndex].eyesOne">
                <img :src="require(`@/assets/images/part-two/${slides[slideIndex].eyesOne}`)"
                     alt="">
            </div>

            <div class="eyes-two" v-if="slides[slideIndex].eyesTwo">
                <img :src="require(`@/assets/images/part-two/${slides[slideIndex].eyesTwo}`)"
                     alt="">
            </div>

            <div class="eyes-three" v-if="slides[slideIndex].eyesThree">
                <img :src="require(`@/assets/images/part-two/${slides[slideIndex].eyesThree}`)"
                     alt="">
            </div>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="music-notes" v-if="slides[slideIndex].musicNotes">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].musicNotes}`)"
                         alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="music-notes-two" v-if="slides[slideIndex].musicNotesTwo">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].musicNotesTwo}`)"
                         alt="">
                </div>
            </transition>

            <div class="tree-arrow-up" v-if="slides[slideIndex].treeArrowUp">
                <img :src="require(`@/assets/images/part-two/${slides[slideIndex].treeArrowUp}`)"
                     alt="">
            </div>

            <div class="tree-arrow-down" v-if="slides[slideIndex].treeArrowDown">
                <img :src="require(`@/assets/images/part-two/${slides[slideIndex].treeArrowDown}`)"
                     alt="">
            </div>

            <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
                <div class="rhythm-down" v-if="slides[slideIndex].rhythmDown">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].rhythmDown}`)"
                         alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
                <div class="tree-bird" v-if="slides[slideIndex].treeBird">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].treeBird}`)"
                         alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
                <div class="tree-right" v-if="slides[slideIndex].tree"
                     :class="[slides[slideIndex].movement ? 'tree-down' : '']">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].tree}`)" alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="brown-paper" v-if="slides[slideIndex].brownPaper">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].brownPaper}`)" alt="">

                    <div class="brown-paper-text columns is-vcentered">
                        <p v-html="slides[slideIndex].explanation"></p>
                    </div>
                </div>
            </transition>

            <transition enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
                <div id="yellow" class="columns is-vcentered" v-if="slides[slideIndex].yellow">
                    <img :class="[slides[slideIndex].blinking ? 'is-blink' : '']"
                         :src="require(`@/assets/images/part-two/${slides[slideIndex].yellow}`)" alt="">
                    <p class="column" v-html="slides[slideIndex].explanation[0]"
                       v-if="slides[slideIndex].explanation"></p>
                </div>
            </transition>

            <transition enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
                <div id="orange" class="columns is-vcentered" v-if="slides[slideIndex].orange">
                    <img :class="[slides[slideIndex].blinking ? 'is-blink' : '']"
                         :src="require(`@/assets/images/part-two/${slides[slideIndex].orange}`)" alt="">
                    <p class="column" v-html="slides[slideIndex].explanation[1]"
                       v-if="slides[slideIndex].explanation"></p>
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="bottom-left" v-if="slides[slideIndex].leftImage">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].leftImage}`)" alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="bottom-sparkle-one" v-if="slides[slideIndex].sparklesOne">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].sparklesOne}`)" alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="bottom-sparkle-two" v-if="slides[slideIndex].sparklesTwo">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].sparklesTwo}`)" alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="compare-image" v-if="slides[slideIndex].compare">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].compareImage}`)" alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div class="compare" v-if="slides[slideIndex].compare">
                    <p v-html="slides[slideIndex].compare"></p>
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div :key="slides[slideIndex].text" :style="paragraphSize" class="paragraph columns is-vcentered">
                    <p :class="[slides[slideIndex].typing ? 'is-type' : '']" v-html="slides[slideIndex].text"></p>
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].bubble}`)"
                         v-if="slides[slideIndex].bubble"
                         alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div id="bubble-bottom" v-if="slides[slideIndex].bubbleBottom">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].bubbleBottom}`)"
                         alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div id="purple-bubble" v-if="slides[slideIndex].purpleBubble">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].purpleBubble}`)"
                         alt="">
                </div>
            </transition>

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <div id="orange-bubble" v-if="slides[slideIndex].orangeBubble">
                    <img :src="require(`@/assets/images/part-two/${slides[slideIndex].orangeBubble}`)" alt="">
                </div>
            </transition>
        </div>

        <button class="button button-yellow is-medium is-back" @click="goBack" v-if="slideIndex > 0">
            <span class="icon"><i class="fas fa-arrow-left"></i></span>
        </button>

        <button class="button button-yellow is-medium is-next" :class="[glowButton ? 'button-glow' : '']"
                v-if="slideIndex < slides.length - 1" @click="goNext">
            <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </button>

        <div class="field has-addons audio-buttons">
            <p class="control">
                <a class="button button-red" @click="playAudio">
                    <span class="icon is-large">
                         <i class="fas fa-play"></i>
                    </span>
                </a>
            </p>
            <p class="control">
                <a class="button button-red" @click="pauseAudio">
                    <span class="icon is-large">
                         <i class="fas fa-pause"></i>
                    </span>
                </a>
            </p>
            <p class="control">
                <a class="button button-red" @click="restartAudio">
                    <span class="icon is-large">
                        <i class="fas fa-backward"></i>
                    </span>
                </a>
            </p>
        </div>

        <audio :src="getAudio" id="bg-audio" @ended="goEnding" autoplay></audio>
        <audio :src="slides[slideIndex].audio" autoplay loop v-if="slides[slideIndex].audio"></audio>
    </section>
</template>

<script>
  export default {
    name: 'ExaminePoem',
    data () {
      return {
        slideIndex: 0,
        glowButton: false,
        slides: [
          {
            id: 1,
            text: 'Here, in the night, trees sink <span id="teal-bubble" class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward.',
            background: 'bg-1.jpg',
            bubble: 'bubble-moonlight.png',
            bubbleBottom: 'alliteration-down.png',
            leftImage: 'nightjarbird.png',
            typing: true,
            firstBubbleTiming: 'time-one'
          },
          {
            id: 2,
            text: 'Here, in the night, trees sink <span id="teal-bubble" class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward.',
            background: 'bg-1.jpg',
            bubble: 'bubble-moonlight.png',
            bubbleBottom: 'bubble-down.png',
            ear: 'ear-1.png',
            leftImage: 'nightjarbird.png',
            firstBubbleTiming: 'time-two'
          },
          {
            id: 3,
            text: 'Here, in the night, trees sink <span id="teal-bubble" class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward.',
            background: 'bg-2.jpg',
            bubble: 'bubble-moonlight.png',
            bubbleBottom: 'bubble-down.png',
            treeArrowUp: 'arrow-yellow.png',
            tree: 'tree-lower.png',
            rootsDown: true
          },
          {
            id: 3,
            text: 'Here, in the night, trees sink <span id="teal-bubble" class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward.',
            background: 'bg-2.jpg',
            bubble: 'bubble-moonlight.png',
            bubbleBottom: 'bubble-down.png',
            treeArrowDown: 'arrow-orange.png',
            tree: 'tree-lower.png'
          },
          {
            id: 4,
            text: 'Here, in the night, trees sink <span id="teal-bubble" class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward.',
            background: 'bg-2.jpg',
            bubble: 'bubble-moonlight.png',
            tree: 'tree-lower.png'
          },
          {
            id: 5,
            text: 'Here, in the night, trees sink <span class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward. <br> The sound of moonlight walking on black grass.',
            background: 'bg-3.jpg',
            bubble: 'bubble-moonsound.png',
            tree: 'tree-lower.png'
          },
          {
            id: 6,
            text: 'Here, in the nigh<span class="is-orange">T</span>, <span class="is-orange">T</span>rees sink <span class="is-teal">D</span>eeply <span class="is-teal">D</span>ownward <br> The sound of moonlight wal<span class="is-orange">K</span>ing on blac<span class="is-orange">K</span> grass.',
            background: 'bg-4.jpg',
            bubble: 'bubble-moonsound.png',
            tree: 'tree-lower.png',
            movement: true
          },
          {
            id: 7,
            text: 'The s<span id="is-purple-position" class="is-purple">ou</span>nd of m<span class="is-purple">oo</span>nlight wal<span id="is-orange-position" class="is-orange">K</span>ing on blac<span class="is-orange">K</span> grass.',
            background: 'bg-5.jpg',
            bubble: 'bubble-moonlight.png',
            sparklesOne: 'sparkles-1.png',
            purpleBubble: 'assonance-down.png',
            orangeBubble: 'k-down.png',
            purpleBubbleTiming: 'time-three',
            orangeBubbleTiming: 'time-four'
          },
          {
            id: 8,
            text: 'The s<span id="is-purple-position" class="is-purple">ou</span>nd of m<span class="is-purple">oo</span>nlight wal<span id="is-orange-position" class="is-orange">K</span>ing on blac<span class="is-orange">K</span> grass.',
            background: 'bg-6.jpg',
            bubble: 'bubble-moonlight.png',
            sparklesTwo: 'sparkles-2.png',
            eyesOne: 'eyes-1.gif',
            eyesTwo: 'eyes-2.gif',
            eyesThree: 'eyes-3.gif',
            purpleBubble: 'assonance-down.png',
            orangeBubble: 'k-down.png'
          },
          {
            id: 9,
            text: 'The s<span class="is-purple">ou</span>nd of m<span class="is-purple">oo</span>nlight wal<span class="is-orange">K</span>ing on blac<span class="is-orange">K</span> grass. <br> magnifies the clear hard calls of a nightjar.',
            background: 'bg-6.jpg',
            bubble: 'bubble-moonsound.png',
            treeBird: 'tree-bird-hidden.png',
            musicNotes: 'music-left.png'
          },
          {
            id: 10,
            text: '<span class="is-white">magnifies the <span class="is-circle">clear</span> hard <span class="is-circle">calls</span> of a nightjar</span>,',
            background: 'bg-1.jpg',
            height: 'height: 20%; font-size: 3.5em',
            leftImage: 'nightjarbird.png',
            musicNotesTwo: 'music-right.png',
            typing: true
          },
          {
            id: 11,
            text: '<span class="is-white">magnifies the <span class="is-circle-glow">clear</span> hard <span class="is-circle-glow">calls</span> of a nightjar</span>,',
            background: 'bg-1.jpg',
            height: 'height: 20%; font-size: 3.5em',
            leftImage: 'nightjarbird.png',
            brownPaper: 'brown-paper.png',
            explanation: 'The alliteration of "clear" and "calls" draws the reader\'s attention to the sharp and vivid quality of the nightjar\'s call in the silence of the night.'
          },
          {
            id: 12,
            text: '<span class="is-white">magnifies the clear hard calls of a nightjar, <br> its <span class="is-pink">soliloquy</span> of ordered <span class="is-pink">savagery</span>, little intervals.</span>',
            background: 'bg-1.jpg',
            height: 'height: 23%'
          },
          {
            id: 13,
            text: '<span class="is-white">magnifies the clear hard calls of a nightjar. <br> its <span id="pink-one" class="is-pink">soliloquy</span> of ordered <span id="pink-two" class="is-pink">savagery</span>, little intervals.</span>',
            background: 'bg-1.jpg',
            height: 'height: 23%',
            yellow: 'bubble-yellow.png',
            orange: 'bubble-orange.png',
            explanation: [
              'The act of speaking one\'s thoughts aloud when alone, regardless if there are any other characters listening, especially by a character in a play.',
              'Something fierce, uncontrolled, but also wild, like a beast.'
            ]
          },
          {
            id: 14,
            text: '<span class="is-white">magnifies the clear hard calls of a nightjar. <br> its <span id="pink-one" class="is-pink">soliloquy</span> of ordered <span id="pink-two" class="is-pink">savagery</span>, little intervals.</span>',
            background: 'bg-1.jpg',
            height: 'height: 23%',
            yellow: 'arrow-yellow.png',
            orange: 'arrow-orange.png',
            blinking: true
          },
          {
            id: 15,
            text: '<span class="is-white">magnifies the clear hard calls of a nightjar. <br> its <span id="pink-one">soliloquy</span> of <span id="pink-three" class="is-pink">ordered</span> <span id="pink-two">savagery</span>, little intervals.</span>',
            background: 'bg-1.jpg',
            height: 'height: 23%',
            orange: 'arrow-orange.png',
            blinking: true,
            ordered: true
          },
          {
            id: 16,
            text: '<span class="is-white">magnifies the clear hard calls of a nightjar. <br> its <span id="pink-one" class="is-pink">soliloquy</span> of ordered <span id="pink-two" class="is-pink">savagery</span>, little intervals.</span>',
            background: 'bg-1.jpg',
            height: 'height: 23%',
            yellow: 'arrow-yellow.png',
            orange: 'arrow-orange.png',
            treeBird: 'tree-bird.png',
            eyesOne: 'eyes-1.gif',
            eyesTwo: 'eyes-2.gif',
            eyesThree: 'eyes-3.gif',
            rhythmDown: 'rhythm-down.png'
          },
          {
            id: 17,
            text: '<span class="is-white">magnifies the clear hard calls of a nightjar. <br> its <span id="pink-one" class="is-pink">soliloquy</span> of ordered <span id="pink-two" class="is-pink">savagery</span>, little intervals.</span>',
            background: 'bg-1.jpg',
            height: 'height: 23%',
            treeBird: 'tree-bird.png',
            eyesOne: 'eyes-1.gif',
            eyesTwo: 'eyes-2.gif',
            eyesThree: 'eyes-3.gif',
            rhythmDown: 'rhythm-down.png'
          },
          {
            id: 18,
            text: '<span class="is-white">Here, in the night, trees sink Deeply Downward. <br> the sound of moonlight walking on black grass <br> magnifies the CLEAR hard CALLS of a nightjar, <br> its SOLILOQUY of ordered SAVAGERY, little intervals. <br> time, clinging on the wrist, ticks it by <br> but eyes, glues to the dark pages of nights, <br> could not scan the source on the branch. <br> <br> ITS INSISTENT CALLS jab & jab so many times <br> to a silent ictus, so many times, ringing off the branch <br> in tiny sharp tuks, each lifting from the last.',
            background: 'bg-1.jpg',
            height: 'height: 80%'
          },
          {
            id: 18,
            text: '<span class="is-white">Here, in the night, trees sink Deeply Downward. <br> the sound of moonlight walking on black grass <br> magnifies the CLEAR hard CALLS of a nightjar, <br> its SOLILOQUY of ordered SAVAGERY, little intervals. <br> time, clinging on the wrist, ticks it by <br> but eyes, glues to the dark pages of nights, <br> could not scan the source on the branch. <br> <br> ITS INSISTENT CALLS <span class="is-pink-block">jab & jab</span> so many times <br> to a silent ictus, so many times, ringing off the branch <br> in tiny sharp <span class="is-pink-block">tuks</span>, each lifting from the last.',
            background: 'bg-1.jpg',
            height: 'height: 80%'
          },
          {
            id: 19,
            text: 'Its insistent calls <span class="is-pink-block">jab & jab</span> so many times <br> to a silent ictus, so many times, ringing off the branch <br> in tiny sharp tuks, each lifting from the last.',
            background: 'bg-1.jpg',
            bubble: 'bubble-moonsound.png',
            leftImage: 'nightjarbird.png',
            compare: '"&" vs "and" <br><span class="is-green"> jab <span class="is-and">&</span> jab <br> jab and jab</span>',
            compareImage: 'bubble-purple.png'
          },
          {
            id: 20,
            text: 'Its insistent calls jab & jab so many times <br> to a silent ictus, so many times, ringing off the branch <br> in tiny sharp tuks, each lifting from the last. <br>' +
            '<br>' +
            'through the night. While the shadows of the trees <br> go past the edge of <span class="is-pink-block">sleep & I sit</span> awake.',
            background: 'bg-1.jpg',
            bubble: 'bubble-big.png'
          },
          {
            id: 21,
            text: 'through the night. While the shadows of the trees <br> go past the edge of <span class="is-pink-block">sleep & I sit</span> awake.',
            background: 'bg-1.jpg',
            bubble: 'bubble-moonsound.png',
            compare: '"&" vs "and" <br><span class="is-green"> sleep <span class="is-and">&</span> I sit <br> sleep and I sit</span>',
            compareImage: 'bubble-purple.png'
          },
          {
            id: 22,
            text: 'through the night. While the shadows of the trees <br> go past the edge of sleep & I sit awake.',
            background: 'bg-7.jpg',
            bubble: 'bubble-moonsound.png'
          },
          {
            id: 23,
            text: 'through the night. While the <span class="is-pink">s</span>hadow<span class="is-pink">s</span> of the tree<span class="is-pink">s</span> <br> go past the edge of <span class="is-pink">s</span>leep & I <span class="is-pink">s</span>it awake.',
            background: 'bg-8.jpg',
            bubble: 'bubble-moonsound.png',
            audio: require(`@/assets/audio/rustling.mp3`)
          },
          {
            id: 24,
            text: 'through the night. While the <span class="orange-one">shadows</span> of the trees <br> go past the edge of <span class="orange-two">sleep</span> & I <span class="orange-three">sit</span> awake. <br>' +
            '<br> if it\'s <span class="orange-four">footfalls</span> <span class="orange-five">across</span> the road, they should be <br> far away, sounding on the <span class="orange-six">trees</span>, an euphony <br> lodged on high, the <span class="orange-seven">starlit</span> <span class="orange-eight">side</span> of heaven.',
            background: 'bg-8.jpg',
            bubble: 'bubble-big.png',
            audio: require(`@/assets/audio/rustling.mp3`)
          }
        ]
      }
    },
    mounted () {
      window.addEventListener('resize', this.getCurrentHeight)
      window.addEventListener('resize', this.getCurrentPositions)
      setTimeout(() => {
        this.getCurrentHeight()
        this.getCurrentPositions()
      }, 10)
    },
    computed: {
      paragraphSize () {
        return this.slides[this.slideIndex].height
      },
      getAudio () {
        let audio = this.slideIndex + 11
        return require(`@/assets/audio/${audio}.mp3`)
      }
    },
    methods: {
      playAudio () {
        let audio = document.getElementById('bg-audio')
        audio.play()
      },
      pauseAudio () {
        let audio = document.getElementById('bg-audio')
        audio.pause()
      },
      restartAudio () {
        let audio = document.getElementById('bg-audio')
        audio.currentTime = 0
        audio.play()
      },
      glowButtonFalse () {
        this.glowButton = false
      },
      getCurrentPositions () {
        switch (this.slideIndex) {
          case 0 :
          case 1 :
          case 2 :
          case 3 :
            this.getCurrentTeal()
            break
          case 7 :
          case 8 :
            this.getCurrentPurple()
            break
          case 13 :
          case 14 :
          case 15 :
          case 16 :
            this.getCurrentPinkOne()
            this.getCurrentPinkTwo()
            this.getCurrentPinkThree()
            break
        }
        this.getTiming()
      },
      getCurrentTeal () {
        const teal = document.getElementById('teal-bubble')
        const bubbleBottom = document.getElementById('bubble-bottom')
        bubbleBottom.style.left = teal.offsetLeft + 'px'
      },
      getCurrentPurple () {
        const purple = document.getElementById('is-purple-position')
        const purpleBubble = document.getElementById('purple-bubble')
        const orange = document.getElementById('is-orange-position')
        const orangeBubble = document.getElementById('orange-bubble')
        purpleBubble.style.left = (purple.offsetLeft * 1.8) + 'px'
        orangeBubble.style.left = (orange.offsetLeft * 1.3) + 'px'
      },
      getCurrentPinkOne () {
        const pinkOne = document.getElementById('pink-one')
        const yellow = document.getElementById('yellow')
        yellow.style.left = (pinkOne.offsetLeft * 4) + 'px'
      },
      getCurrentPinkTwo () {
        const pinkTwo = document.getElementById('pink-two')
        const orange = document.getElementById('orange')
        orange.style.left = (pinkTwo.offsetLeft * 1.45) + 'px'
      },
      getCurrentPinkThree () {
        if (this.slides[this.slideIndex].ordered) {
          const pinkThree = document.getElementById('pink-three')
          const orange = document.getElementById('orange')
          orange.style.left = (pinkThree.offsetLeft * 1.65) + 'px'
        }
      },
      getCurrentHeight () {
        const current = document.getElementById('examine-poem')

        current.style.height = (window.innerHeight) + 'px'
        if (window.innerHeight < 500) {
          current.style.width = (window.innerHeight * 1.618) + 'px'
        } else {
          current.style.width = '100%'
        }
      },
      getTiming () {
        if (this.slides[this.slideIndex].firstBubbleTiming) {
          let time = document.getElementById('bubble-bottom')
          time.classList.add(this.slides[this.slideIndex].firstBubbleTiming)
        }
        if (this.slides[this.slideIndex].purpleBubbleTiming) {
          let time = document.getElementById('purple-bubble')
          time.classList.add(this.slides[this.slideIndex].purpleBubbleTiming)
        }
        if (this.slides[this.slideIndex].orangeBubbleTiming) {
          let time = document.getElementById('orange-bubble')
          time.classList.add(this.slides[this.slideIndex].orangeBubbleTiming)
        }
      },
      resetTiming () {
        if (this.slides[this.slideIndex].firstBubbleTiming) {
          let time = document.getElementById('bubble-bottom')
          time.classList.remove(this.slides[this.slideIndex].firstBubbleTiming)
        }
        if (this.slides[this.slideIndex].purpleBubbleTiming) {
          let time = document.getElementById('purple-bubble')
          time.classList.remove(this.slides[this.slideIndex].purpleBubbleTiming)
        }
        if (this.slides[this.slideIndex].orangeBubbleTiming) {
          let time = document.getElementById('orange-bubble')
          time.classList.remove(this.slides[this.slideIndex].orangeBubbleTiming)
        }
      },
      goBack () {
        this.glowButtonFalse()
        this.resetTiming()
        this.slideIndex--
        setTimeout(() => {
          this.getCurrentPositions()
        }, 10)
      },
      goNext () {
        this.glowButtonFalse()
        if (this.slideIndex >= this.slides.length - 1) {
          this.$router.push('/summary')
        } else {
          this.resetTiming()
          this.slideIndex++
          setTimeout(() => {
            this.getCurrentPositions()
          }, 10)
        }
      },
      goEnding () {
        if (this.slideIndex === this.slides.length - 1) {
          this.goNext()
        } else {
          this.glowButton = true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    section {
        overflow: hidden;
    }

    .button {
        &:focus {
            color: whitesmoke !important;
        }
    }

    @media (max-height: 500px) {
        #examine-poem {
            font-size: calc(0.5vw + 1vh) !important;
        }
    }

    #examine-poem {
        position: relative;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
    }

    .button-yellow {
        font-size: 1.5em;
    }

    .paragraph {
        top: 3%;
        left: 6.5%;
        width: 70%;
        position: absolute;
        font-size: calc(1.5vw + 1.5vh + .5vmin);

        p {
            position: absolute;
            line-height: 90%;
            width: 100%;
            left: 10%;
        }
    }

    #bubble-bottom {
        position: absolute;
        top: 25%;
        width: 20%;
    }

    .ear {
        position: absolute;
        width: 15%;
        right: 25%;
        bottom: 25%;
        animation: ear 9s forwards;
    }

    @keyframes ear {
        0% {
            opacity: 0;
        }
        60% {
            opacity: 0;
            transform: translateX(300px);
        }
        100% {
            transform: translateX(-0px);
            opacity: 1;
        }
    }

    .tree-arrow-up {
        position: absolute;
        z-index: 5;
        width: 30%;
        right: 15%;
        bottom: 0;
        animation: arrow-up 4s forwards;
    }

    @keyframes arrow-up {
        0% {
            transform: translateY(50vh);
        }
        70% {
            transform: translateY(-20vh);
        }
        100% {
            transform: translateY(-30vh);
        }
    }

    .tree-arrow-down {
        position: absolute;
        z-index: 5;
        width: 30%;
        right: 15%;
        bottom: 0;
        animation: arrow-down 3s forwards;
    }

    @keyframes arrow-down {
        0% {
            transform: translateY(-30vh) rotate(180deg);
        }
        30% {
            transform: translateY(-20vh) rotate(180deg);
        }
        100% {
            transform: translateY(-2vh) rotate(180deg);
        }
    }

    #purple-bubble {
        position: absolute;
        width: 20%;
        top: 25%;
    }

    #orange-bubble {
        transition: all 0.5s;
        position: absolute;
        width: 20%;
        top: 25%;
    }

    .music-notes {
        position: absolute;
        width: 0vh;
        bottom: 40vh;
        right: 30%;
        animation: music 3s infinite;
    }

    .music-notes-two {
        position: absolute;
        width: 30vh;
        bottom: 30vh;
        left: 30%;
        animation: musicTwo 3s infinite;
    }

    @keyframes music {
        to {
            width: 40vh;
        }
    }

    @keyframes musicTwo {
        0% {
            transform: translateX(-30vw) translateY(25vh) scale(0.05);
        }
        100% {
            transform: translateX(5vw) scale(1.05);
        }
    }

    .rhythm-down {
        position: absolute;
        width: 30vh;
        right: 25%;
        bottom: 10%;

        img {
            animation: 1s popping linear;
        }
    }

    .bottom-left {
        position: absolute;
        width: 20%;
        left: 4%;
        bottom: 8%;
    }

    .brown-paper {
        position: absolute;
        width: 42%;
        right: 10%;
        bottom: 15%;

        .brown-paper-text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 10%;

            p {
                font-size: 2.8em;
                line-height: 110%;
            }
        }
    }

    .compare {
        position: absolute;
        color: whitesmoke;
        font-size: 3em;
        line-height: 100%;
        right: 40%;
        top: 45%;
    }

    .compare-image {
        position: absolute;
        width: 20%;
        right: 20%;
        top: 37.5%;

        img {
            animation: 1s popping linear;
        }
    }

    @keyframes popping {
        0% {
            transform: scaleX(-1) translateX(500px);
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: scaleX(1) translateX(0);
        }
    }

    #yellow {
        position: absolute;
        width: 17%;
        top: 27%;

        p {
            position: absolute;
            font-size: calc(1vh + 1vw + 0.5vmin);
            line-height: 100%;
            padding: 0 7.5%;
        }
    }

    #orange {
        position: absolute;
        width: 15%;
        top: 27%;

        p {
            position: absolute;
            font-size: calc(1vh + 1vw + 0.5vmin);
            line-height: 100%;
            padding: 0 7.5% 0 12%;
        }
    }

    .tree-bird {
        position: absolute;
        width: 50vh;
        right: 0;
        bottom: -3%;
    }

    .tree-right {
        width: 100vh;
        position: absolute;
        right: 0;
        bottom: -15%;
        transition: all 1s;
    }

    .bottom-sparkle-one {
        position: absolute;
        bottom: 5%;
        left: 10%;

        img {
            width: 65%;
            animation: sparkle 1.5s infinite ease-in-out;
        }
    }

    @keyframes sparkle {
        0%, 100% {
            opacity: 1;
            transform: translateX(0) scale(1.01);
        }
        25% {
            opacity: 0;
            transform: translateX(1px);
        }
        50% {
            opacity: 1;
            transform: translateX(0) scale(1.01);
        }
        75% {
            opacity: 0;
            transform: translateX(-1px);
        }
    }

    .bottom-sparkle-two {
        position: absolute;
        bottom: 10%;
        left: 20%;
        width: 60%;

        img {
            animation: sparkle 1.5s infinite ease-in-out;
        }
    }

    .eyes-one, .eyes-two, .eyes-three {
        position: absolute;
        width: 10vh;
    }

    .eyes-one {
        left: 15%;
        bottom: 15%;
    }

    .eyes-two {
        left: 45%;
        bottom: 25%;
    }

    .eyes-three {
        right: 25%;
        bottom: 20%;
    }

    .tree-down {
        bottom: -25%;
    }

    .is-back {
        position: absolute;
        z-index: 99999;
        left: 3%;
        bottom: 2%;
    }

    .is-next {
        position: absolute;
        z-index: 99999;
        right: 3%;
        bottom: 2%;
    }

    .audio-buttons {
        position: absolute;
        z-index: 9999;
        bottom: 5%;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;

        .button-red {
            font-size: 1.3em;
            min-width: 5vw;
            max-height: 3vw;
        }
    }

    @keyframes appearing {
        0%, 95% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .time-one {
        animation: appearing 11s linear forwards;
    }

    .time-two {
        animation: appearing 9s linear forwards;
    }

    .time-three {
        animation: appearing 2s linear forwards;
    }

    .time-four {
        animation: appearing 7s linear forwards;
    }

    .button-glow {
        animation: glow 1s ease-in-out infinite alternate;
    }

    @keyframes glow {
        to {
            box-shadow: 0px 0px 10px 10px #ecc71d;
        }
    }
</style>
