<template>
    <section class="hero is-fullheight">
        <div class="columns is-vcentered" v-if="showButton">
            <div class="column">
                <img class="splash-image" :src="require(`@/assets/images/sound-splash.png`)" v-show="showButton" alt="">
                <div class="title-wrapper">
                    <h1>Sound Devices</h1>
                </div>

                <div class="button-wrapper">
                    <button class="button button-yellow" @click="playVideo" v-if="showButton">Start</button>
                </div>
            </div>
        </div>

        <div class="video-wrapper" v-else>
            <video id="video" :src="video" autoplay controls @ended="incrementVideoIndex"></video>

            <div class="buttons">
                <button class="button button-yellow is-next" @click="goNext">
                    <span>Next</span>
                </button>
            </div>
        </div>
    </section>
</template>

<script>
  export default {
    name: 'Introduction',
    data () {
      return {
        showButton: true,
        videoIndex: 0,
        videos: [
          {id: 1}, {id: 2}, {id: 3}
        ]
      }
    },
    computed: {
      video () {
        return require(`@/assets/videos/intro-${this.videos[this.videoIndex].id}.mp4`)
      }
    },
    methods: {
      playVideo () {
        this.showButton = false
      },
      incrementVideoIndex () {
        if (this.videoIndex < this.videos.length - 1) {
          this.videoIndex++
        } else {
          this.$router.push('/stanza')
        }
      },
      goNext () {
        if (this.videoIndex < this.videos.length - 1) {
          this.incrementVideoIndex()
        } else {
          this.$router.push('/stanza')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    section {
        overflow: hidden;
        height: 100vh;
    }

    .container {
        height: 100%;
    }

    .splash-image {
        min-height: 100vh !important;
        width: 100vw;
    }

    .button-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;

        button {
            position: relative;
            top: -50%;
            left: -50%;
            font-size: 2em;
        }
    }

    .title-wrapper {
        position: fixed;
        top: 25%;
        left: 50%;
        opacity: 0.2;
        animation: title .5s linear forwards;
        font-size: 5em;

        h1 {
            position: relative;
            top: -40%;
            left: -50%;
            color: #FEE649;
            font-weight: bold;
        }
    }

    @keyframes title {
        to {
            font-size: 10em;
            opacity: 1;
        }
    }

    .video-wrapper {
        margin: 0 auto;
    }

    video {
        background-color: #000;
        height: 100vh;
    }

    .buttons {
        position: fixed;
        bottom: 5%;
        right: 7.5%;

        button {
            font-size: 1.4em;
        }
    }
</style>
