<template>
    <div class="modal" :class="{ 'is-active': isNavActive }">
        <div class="modal-background" @click="closeModal"></div>

        <div class="modal-card">
            <div class="modal-card-body has-text-centered"
                 :style="{ backgroundImage: `url(${require(`@/assets/images/sound-splash.png`)})` }">
                <h1>Sound Devices Navigation Menu</h1>
                <div class="buttons column">
                    <button class="button" @click="firstRoute">Inductive Experience: When is a poem like a bird?</button>
                    <button class="button" @click="secondRoute">Studying Sound Devices in a poem</button>
                    <button class="button" @click="thirdRoute">Understanding the Effect of Sound Devices in a Literary Text</button>
                    <button class="button" @click="fourthRoute">Studying Sound Devices in a poem (Close Analysis)</button>
                    <button class="button" @click="closeModal">Exit Navigation Menu</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'NavModal',
    props: {
      isNavActive: Boolean
    },
    methods: {
      firstRoute () {
        this.$router.push('/')
        this.closeModal()
      },
      secondRoute () {
        this.$router.push('/stanza')
        this.closeModal()
      },
      thirdRoute () {
        this.$router.push('/animated-poem')
        this.closeModal()
      },
      fourthRoute () {
        this.$router.push('/examine-poem')
        this.closeModal()
      },
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .modal-card {
        width: 75%;
    }

    .modal-card-body {
        background-position: center;
        background-size: cover;
        border-radius: 15px;

        h1 {
            color: #FEE649;
            font-size: 3em;
            line-height: 100%;
        }
    }

    .button {
        border: 1px solid #FEE649;
        background-color: rgba(0, 0, 0, 0.3);
        color: #FEE649;
        font-size: 1.5em;
        width: 100%;
        transition: all 0.5s;

        &:hover {
            background-color: rgba(254, 230, 73, 0.96);
            border: 1px solid #2b2b2b;
            text-decoration: underline;
            color: #2b2b2b;
        }
    }
</style>
