<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/part-one/sound-bg.jpg`)})` }">

    <div class="title">
      <div class="title-words">
        <h1>Nightjar <span class="title-author">By: Arthur Yap</span></h1>
      </div>
    </div>

    <div class="container columns is-vcentered is-mobile">
      <div class="columns is-vcentered has-text-centered is-multiline is-mobile">
        <div class="column is-7 stanza" :key="stanza.id">
          <img class="stanza-bg" :src="require(`@/assets/images/part-one/stanza-bg.png`)" alt="">

          <div class="stanza-text columns is-vcentered is-mobile">
            <p v-html="stanza.main"></p>
          </div>
        </div>

        <div class="column choices is-5">
          <div class="content" v-if="showHint">
            <div class="explanation-title">
              <img :src="require(`@/assets/images/part-one/${selectedSound.name.toLowerCase()}-bar.png`)">
            </div>

            <div class="explanation">
              <img class=""
                   :src="require(`@/assets/images/part-one/${selectedSound.name.toLowerCase()}-speech.png`)"
                   alt="">

              <div class="explanation-text columns is-vcentered">
                <div class="column">
                  <p :style="setColor">{{ selectedSound.text }}</p>
                  <button class="button is-back button-red" @click="clearSound">Go Back</button>
                </div>
              </div>
            </div>

            <div class="nightjar-image">
              <img :src="require(`@/assets/images/part-one/nightjar-bird.png`)" alt="">
            </div>
          </div>

          <div class="buttons" v-else>
            <img :src="require(`@/assets/images/part-one/instruction-bar.png`)" alt=""
                 @click="addAudioCounter" class="sound-button" v-if="!showButtons">
            <img :src="require(`@/assets/images/part-one/literary-bar.png`)" alt="" class="literary-button" v-else>

            <img :src="require(`@/assets/images/part-one/${sound.name.toLowerCase()}-bar.png`)"
                 class="sound-button"
                 :alt="`Image of ${sound.name}`" :key="sound.name" v-for="sound in sounds"
                 v-if="showButtons"
                 @click="selectSound(sound)">
          </div>

          <button class="button button-red is-summary" @click="showSummary"
                  v-if="allCompleted && !showHint">
            <span v-if="summary">Show All</span>
            <span v-else>Clear</span>
          </button>

          <button class="button button-yellow goto-animated-poem" @click="gotoAnimatedPoem"
                  v-if="allCompleted && !showHint">Next
          </button>
        </div>
      </div>
    </div>

    <audio id="stanza-poem" :src="getAudio" @ended="showButtonsAudioEnd" autoplay></audio>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'Stanza',
    data () {
      return {
        showHint: false,
        showButtons: false,
        selectedSound: {},
        summary: false,
        audioCounter: 0
      }
    },
    computed: {
      ...mapState(['stanza', 'sounds']),
      ...mapGetters(['allCompleted']),
      setColor () {
        return `color: ${this.selectedSound.theme.backgroundColor}`
      },
      getAudio () {
        let audio

        if (this.audioCounter === 0) {
          audio = require(`@/assets/audio/5.mp3`)
        }
        if (this.audioCounter === 1) {
          audio = require(`@/assets/audio/nightjar-poem.mp3`)
        }
        if (this.audioCounter === 2) {
          audio = require(`@/assets/audio/6.mp3`)
          this.show()
        }
        return audio
      }
    },
    methods: {
      addAudioCounter () {
        this.audioCounter++
      },
      show () {
        this.showButtons = true
      },
      showButtonsAudioEnd () {
        if (this.audioCounter === 1) {
          this.show()
        }
      },
      setThemeColour (theme) {
        const char = this.$el.querySelectorAll(`.is-${this.selectedSound.name.toLowerCase()}`)

        char.forEach(c => {
          c.style.color = theme.color
          c.style.backgroundColor = theme.backgroundColor
          c.style.textTransform = theme.textTransform
        })
      },
      selectSound (sound) {
        this.sounds.forEach(sound => {
          const select = this.$el.querySelectorAll(`.is-${sound.name.toLowerCase()}`)

          select.forEach(s => {
            s.style.color = 'inherit'
            s.style.backgroundColor = 'inherit'
            s.style.textTransform = 'inherit'
          })
        })
        this.selectedSound = sound

        this.setThemeColour(sound.theme)

        this.showHint = true

        this.$store.commit('setSoundSelected', sound)
      },
      showSummary () {
        this.summary = !this.summary
        this.sounds.forEach(sound => {
          const select = this.$el.querySelectorAll(`.is-${sound.name.toLowerCase()}`)

          if (this.summary === false) {
            select.forEach(s => {
              s.style.color = sound.theme.color
              s.style.backgroundColor = sound.theme.backgroundColor
              s.style.textTransform = sound.theme.textTransform
            })
          } else {
            select.forEach(s => {
              s.style.color = 'inherit'
              s.style.backgroundColor = 'inherit'
              s.style.textTransform = 'inherit'
            })
          }
        })
      },
      clearSound () {
        if (this.allCompleted) {
          this.summary = true
        }

        if (this.showHint) {
          this.showHint = false

          const resetTheme = {
            color: 'inherit',
            backgroundColor: 'inherit',
            textTransform: 'inherit'
          }

          this.setThemeColour(resetTheme)
        } else {
          this.$router.push('/stanza')
        }
      },
      gotoAnimatedPoem () {
        this.$router.push('/animated-poem')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }

  .container {
    height: 100%;
    margin: 0 auto;
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .title-words {
      display: block;

      h1 {
        line-height: 90%;
        font-weight: bold;
        font-size: 3em;
        color: #FEE649;
      }

      .title-author {
        font-size: 0.25em;
      }
    }
  }

  .stanza {
    position: relative;
    color: #001F3C;

    .stanza-text {
      position: absolute;
      top: 2%;
      left: 2%;
      right: 2%;
      bottom: 2%;

      p {
        width: 100%;
        line-height: 95%;
        font-size: 1.8em;
      }
    }
  }

  .explanation-title {
    width: 80%;
    margin: 0 auto 1%;
  }

  .explanation {
    position: relative;
    color: #001F3C;
    margin: 0 auto;
    opacity: 0;
    animation: 2s fading forwards;

    .explanation-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      p {
        height: 100%;
        font-size: 1.7em;
        font-weight: bold;
        line-height: 90%;
        width: 100%;
        padding: 0 5% 0;
        white-space: pre-line;
      }

      .is-back {
        margin: -3%;
      }
    }
  }

  .nightjar-image {
    position: absolute;
    max-width: 20%;
    right: 10%;
    bottom: 5%;
    mix-blend-mode: color-dodge;
    opacity: 0;
    animation: 2s fading forwards;
  }

  @keyframes fading {
    to {
      opacity: 1;
    }
  }

  .sound-button {
    margin: 0.5% auto;
    width: 65%;
    cursor: pointer;
    transition: all;

    &:hover {
      animation: scale 0.5s forwards;
    }
  }

  .literary-button {
    width: 65%;
    margin: 0.5% auto;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
</style>
