<template>
  <section class="hero is-fullheight">
    <video :src="require(`@/assets/videos/sound-3.mp4`)" autoplay controls @ended="videoEnded = true"></video>

    <div class="buttons">
      <button class="button button-yellow goto-examine-poem" @click="goRestart">
        Restart
      </button>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SummaryView',
    data () {
      return {
        videoEnded: false
      }
    },
    methods: {
      goRestart () {
        this.$router.push('/')
      }
    }
  }
</script>

<style lang="scss" scoped>
  video {
    background-color: #000;
    height: 100vh;
  }

  .buttons {
    position: fixed;
    bottom: 10%;
    right: 10%;

    button {
      font-size: 1.5em;
    }
  }
</style>
