<template>
  <div id="app">
    <div v-show="correctScreen">
      <transition enter-active-class="animated fadeIn">
        <keep-alive include="Activity">
          <router-view/>
        </keep-alive>
      </transition>

      <div class="nav-button columns is-vcentered t" @click="getNav">
        <span class="icon"><i class="fas fa-bars"></i></span>
      </div>

      <nav-modal :isNavActive="isNavActive" @closeModal="closeModal" v-if="isNavActive"/>
    </div>

    <transition enter-active-class="animated slideInUp">
      <div :key="correctScreen" class="hero is-fullheight rotate-screen"
           :style="{ backgroundImage: `url(${require(`@/assets/images/sound-splash.png`)})` }"
           v-show="!correctScreen">
        <div class="column has-text-centered rotate-screen-text">
          <h1 class="content is-uppercase">Please adjust your screen size</h1>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import NavModal from '@/components/NavModal'

  export default {
    name: 'App',
    components: { NavModal },
    data () {
      return {
        isNavActive: false
      }
    },
    computed: {
      ...mapState(['correctScreen'])
    },
    mounted () {
      this.invokeOrientationChange()
      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('correctScreen', window.innerWidth > window.innerHeight * 1.2 && window.innerHeight > window.innerWidth / 3)
      },
      getNav () {
        this.isNavActive = true
      },
      closeModal () {
        this.isNavActive = false
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'handson regular';
    src: url("./assets/fonts/handson-regular.ttf") format('truetype');
  }

  html, body {
    background-color: #000;
    font-family: 'handson regular', sans-serif;
    font-size: 1vw;
  }

  .rotate-screen {
    background-size: cover;
    background-position: right;

    .rotate-screen-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 5em;
        line-height: 80%;
        color: #cdd3d2;
      }
    }
  }

  .nav-button {
    position: fixed;
    top: 1.5%;
    left: 1%;
    width: 3vw;
    height: 3vw;
    border: 1.5px solid #FEE649;
    margin: 0 auto;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;

    .icon {
      margin: 0 auto;
      color: #FEE649;
      font-size: calc(0.8vw + 0.8vh + .5vmin);
    }

    &:hover {
      background-color: #FEE649;
      .icon {
        color: #2b2b2b;
      }
    }
  }

  .button {
    text-transform: uppercase;
    font-family: 'handson regular', sans-serif;
    min-width: 10vw;
    max-height: 3.3vw;
    transition: all 0.5s;
  }

  .button-yellow {
    background-color: #EA8F00;
    border: none;
    line-height: 0;
    color: whitesmoke;

    &:hover {
      background-color: #fdf59f;
      text-decoration: underline;
    }
  }

  .button-red {
    background-color: #9E0200;
    border: none;
    line-height: 0;
    color: whitesmoke;

    &:hover {
      background-color: #d86d6a;
      text-decoration: underline;
    }
  }

  .is-white {
    color: whitesmoke;
  }

  .is-type {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 5s steps(60, end);
  }

  @keyframes type {
    from {
      width: 0;
    }
  }

  .is-blink {
    animation: blink 1s infinite steps(30, end);
  }

  @keyframes blink {
    from {
      opacity: 0;
    }
  }

  .is-teal {
    position: relative;
    background-color: #0aad9c;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
  }

  .is-orange {
    background-color: #F28A02;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
  }

  .is-purple {
    background-color: #BF044F;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
  }

  .is-pink {
    color: #EF416A;
    font-weight: bold;
    text-shadow: 0 0 5px #747DE8, 0 0 5px #747DE8;
    animation: text-glow 1s linear infinite alternate;
  }

  @keyframes text-glow {
    to {
      text-shadow: 0 0 40px #747DE8, 0 0 40px #747DE8;
    }
  }

  .is-green {
    color: #E8BEBA;
  }

  .is-circle {
    background-color: #E8BEBA;
    font-weight: bold;
    color: #2b2b2b;
    border-radius: 15px;
  }

  .is-circle-glow {
    background-color: #E8BEBA;
    font-weight: bold;
    color: #2b2b2b;
    border-radius: 15px;
    padding: 0.5% 1%;
    box-shadow: 0px 0px 9px 4px #747DE8;
    animation: glow 1s linear infinite alternate;
  }

  @keyframes glow {
    to {
      box-shadow: 0px 0px 20px 15px #535FED;
    }
  }

  .is-pink-block {
    background-color: #E8BEBA;
    color: #2b2b2b;
    font-weight: bold;
  }

  .is-and {
    font-size: 1.5em;
    text-decoration: underline;
    color: #cc57fc;
  }

  @keyframes appearing {
    0%, 95% {
      background-color: transparent;
      font-weight: normal;
      text-transform: none;
    }
    100% {
      background-color: #F28A02;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .orange-one {
    animation: appearing 4s linear forwards;
  }

  .orange-two {
    animation: appearing 5s linear forwards;
  }

  .orange-three {
    animation: appearing 6s linear forwards;
  }

  .orange-four {
    animation: appearing 7.5s linear forwards;
  }

  .orange-five {
    animation: appearing 8.5s linear forwards;
  }

  .orange-six {
    animation: appearing 10s linear forwards;
  }

  .orange-seven {
    animation: appearing 11s linear forwards;
  }

  .orange-eight {
    animation: appearing 12s linear forwards;
  }
</style>
